/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

@font-face {
  font-family: 'Lato';
  src: url('/https://fonts.googleapis.com/css2?family=Lato:wght@100;400;600;700&display=swap') format('Open Sans');
}

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;

  @media screen and (min-width: $sidebar-screen-min-width) {
    height: 100vh;
    overflow-y: auto;               // Add scrollbar if the sidebar is too long
    position: fixed;
    padding-top: $masthead-height;
  }

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: "Open Sans";
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: "Open Sans";
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }

  font-family: 'Lato', sans-serif !important;

  .author__name {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .author__bio {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .author__urls-wrapper {
    font-family: 'Lato', sans-serif;

    .author__urls {
      font-size: 0.9rem;

      li {
        padding: 0.5rem 0;
      }
    }
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    height: auto;
  }

  img {
    max-width: 175px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}

.author__content {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  line-height: 1.5;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.author__name {
  margin: 0.5rem 0;
  text-align: center;

  @include breakpoint($large) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.author__bio {
  margin: 0.5rem 0;
  text-align: center;

  @include breakpoint($large) {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

.author__urls-wrapper {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.author__urls {
  text-align: center;
  
  li {
    display: block;
    text-align: center;
  }
  
  a {
    display: inline-block;
    text-align: center;
    margin: 0.25rem 0;
  }
}
